.bigbox{
	width: 100%;
	position: relative;
}
.imgbox img{
	vertical-align: top;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1s;
}
.imgbox .active{
	opacity: 1;
}
.bigbox button{
	width: 0px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	background: rgba(1,1,1,0.5);
	color: #FFF4E8;
	border-radius: 50%;
	font-size: 0px;
	border: none;
	cursor: pointer;
	outline: none;
	transition: all 1s linear;
	
}
.lunbo:hover .bigbox button{
	width: 40px;
	font-size: 20px;
	transform: rotateY(360deg);
	transform-origin: center;
	border: 1px solid #000;
}
.bigbox button:hover{
	background: rgba(1,1,1,0.9);
}
.bigbox button:nth-of-type(1){
	left: 20px;
}
.bigbox button:nth-of-type(2){
	right: 20px;
}
.bigbox ul{
	position: absolute;
	left: 50%;
	margin-left: -34px;
	bottom: 20px;
}
.bigbox ul li{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #FFFFFF;
	cursor: pointer;
}
